<launch>
    <arg name="gui" default="true"/>
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value="empty_map.world"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>
    <node pkg="turtle_movement" name="tm" type="turtle_movement_node"/>
</launch>
